<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>demo1</servlet-name>
        <servlet-class>servlet.servletDemo1</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>demo1</servlet-name>
        <url-pattern>/demo1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>demo2</servlet-name>
        <servlet-class>servlet.servletDemo2</servlet-class>
        <!--指定Servlet的创建时机
            1、第一次被访问时创建
                <load-on-startup>的值为负数
            2、在服务器启动时创建
                <load-on-startup>的值为0或正整数

        * Servlet的init方法，只执行一次，说明一个Servlet在内存中只存在一个对象，Servlet是单例的
			* 多个用户同时访问时，可能存在线程安全问题。
			* 解决：尽量不要在Servlet中定义成员变量。即使定义了成员变量，也不要对修改值

        2. 提供服务：执行service方法，执行多次
            * 每次访问Servlet时，Service方法都会被调用一次。
        3. 被销毁：执行destroy方法，只执行一次
            * Servlet被销毁时执行。服务器关闭时，Servlet被销毁
            * 只有服务器正常关闭时，才会执行destroy方法。
            * destroy方法在Servlet被销毁之前执行，一般用于释放资源

        -->

        <load-on-startup>-5</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>demo2</servlet-name>
        <url-pattern>/demo2</url-pattern>
    </servlet-mapping>

</web-app>